.pic{
    width: 60px;
    height: 60px;
}

.delete{
    height: 60px;
    width: 60px;
    
}

.user{
    display: flex;
    justify-content: space-around;
}

.delete-button{
    background: transparent;
    border: none;
    cursor: pointer;
   
}

.user-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(34, 36, 38, .15);
    
}

.ul{
    list-style: none;
    padding-left: 0;
}

